Source: python-binplist
Section: misc
Priority: extra
Maintainer: Jordi Sanchez <binplist.feedback@gmail.com>
Build-Depends: debhelper (>= 7), python, python-setuptools
Standards-Version: 3.9.5
Homepage: https://github.com/google/binplist

Package: python-binplist
Section: python
Architecture: all
Depends: python, ${misc:Depends}
Description: Binary property list (plist) parser module written in Python
 Binary property list (plist) parser module written in Python.

